.footer {
    background: #000000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    position: relative;
    align-items: center;
}

.footer-text {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer-contact li {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-contact li a {
    color: #ffffff;
}

.footer-copyright {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer-contact {
        font-size: 1.25rem;
    }
}

