.experience {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experience .subtitle {
    color: #e0e0e0;
}

.experience-text {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 60px;
    color: #525252;
}

.experience-text strong {
    color: #141414;
}

.company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.company::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 20px;
    left: -4px;
}

.company-year {
    position: absolute;
    top: 22px;
    left: -120px;
    text-align: right;
    width: 100px;
    color: #525252;
    font-size: 0.875rem;
}

.company-title {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.company-text {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.company-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.company-skills li {
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #ffffff;
    padding: 2px 5px;
}

@media (max-width: 800px) {
    .experience {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .experience .subtitle {
        color: #141414;
    }
    .experience-text {
        font-size: 1.25rem;
    }
    .company-year {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}

@media (max-width: 400px) {
    .company {
        grid-template-columns: 1fr;
    }
}