@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

body {
  background: url(backup/assets/images/background/code_background.jpg);
  background-size: cover;
  background-color: #333333;
  font-family: "Fira Code", monospace;
  height: calc(100vh - 28px);
  padding: 12px;
  margin: 0;
  opacity: 0.9;
}

section {
  margin: auto;
  color: #dddddd;
  background-color: #333333;
  border: 2px solid #ff5100;
  height: calc(100% - 50px);
  padding: 24px;
}

img {
  filter: invert(100%);
}

.name {
  text-align: center;
  font-size: 3rem;
}

.social, .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details {
  padding: 0 12px;
}

a, .icons {
  vertical-align: middle;
  padding: 2px;
}

a:link, a:visited {
  color: #ff5100;
}

.intro-text {
  line-height: 0;
  padding: 24px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .name {
    font-size: 2.2rem;
  }
  .intro-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .social, .contact {
    font-size: 0.8rem;
  }

  .icons {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .name {
    font-size: 1rem;
  }

  .intro-text {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 320px) {
  .name {
    font-size: 0.8rem;
  }

  .social, .contact {
    font-size: 0.6rem;
  }

  .icons {
    width: 16px;
    height: 16px;
  }

  .intro-text {
    margin: 0;
    padding: 20px 0;
    font-size: 0.5rem;
  }
}
